<div class="module__form" style="width: 50%; ">
  <%= form_for(@contact, url: create_contact_path) do |f| %>

    <div class="module__form__field">
      <%= f.text_area :content, class: 'module__form__field__text', placeholder: t('.content_placeholder') %>
    </div>

    <div>
      <%= f.submit class: 'module__button module__button--wide' %>
    </div>
  <% end %>
</div>
